<!doctype html>
<!-- TODOS LOS ARCHIVOS CREADOS DEBEN TENER xmlns:th="http://www.thymeleaf.org" -->
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Document</title>
    <!-- CADA LINK QUE QUIERAS REFERENCIAR PARA UN CSS O UN SCRIPT DEBE SEGUIR ESTA FORMA-->
    <!-- Colocar th:href="@{/css/nombrearchivo.css} PARA ARCHIVOS CSS
         Colocar th:href="@{/script/noombrearchivo.js} PARA LOS SCRIPT-->
    <link rel="stylesheet" th:href="@{/css/prueba.css}">
</head>
<body>
    <h1>PRUEBA</h1>
</body>
</html>